{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">
        <h2 style="text-align: center">Formulaire de contact</h2>
        {{ form_start(form) }}

        {{ form_row(form.customer.name) }}
        {{ form_row(form.customer.email) }}
        {{ form_row(form.content) }}

        {{ form_end(form) }}
    </div>
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
     <script>

     </script>
 {% endblock %}
