<div class="container">
    <nav>
        <ul>
            <li><strong><a href="{{ path('home') }}">Symfony</a></strong></li>
        </ul>
        <ul>
            <li><a href="{{ path("list") }}">Messages</a></li>
        </ul>
        <ul>
            <li><a href="{{ path("processed_message") }}">Messages traités</a></li>
        </ul>
        <ul>
            <li><a href="{{ path("app_logout") }}">Logout</a></li>
        </ul>
    </nav>
</div>