<div class="container">
    <nav>
        <ul>
            <li><strong><a href="{{ path('home') }}">Symfony</a></strong></li>
        </ul>
        <ul>
            <li><a href="{{ path('list') }}">Admin</a></li>
        </ul>
    </nav>
</div>