{% extends 'base.html.twig' %}

{% block title %}Message à traiter{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center">Liste des messages</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th style="text-align: center" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ customer.id }}</th>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.email }}</td>
                    <td style="text-align: center" >
                        <a href="{{ path('show', { 'id' : customer.id}) }}">Messages</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

