{% extends 'base.html.twig' %}

{% block title %}Messages traités{% endblock %}

{% block body %}

    <div class="container">
        <h2 style="text-align: center">Liste des messages traités</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Nom</th>
                <th scope="col">Message</th>
                <th style="text-align: center" scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <th scope="row">{{ message.id }}</th>
                    <td>{{ message.customer.name }}</td>
                    <td>{{ message.customer.email }}</td>
                    <td>{{ message.content }}</td>
                    <td style="text-align: center" >
{#                        <a href="{{ path('show', { 'id' : customer.id}) }}">Messages</a>#}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



