{% extends 'base.html.twig' %}

{% block title %}Message(s) de {{ customer.name }}{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="text-align: center">Liste des messages de {{ customer.name }}</h2>
        {% set messages = customer.message %}
        <table>
            <thead>
            <tr>
                <th colspan="1" style="text-align: center" scope="col">Date et heure</th>
                <th colspan="2" style="text-align: left" scope="col">Messages</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.sendAt | date("d-m-Y H:i") }}</td>
                    <td>{{ message.content }}</td>
                    <td style="text-align: right">
                        {% if not message.isProcessed %}
                            <a href="{{ path('processed', { 'id' : message.id  }) }}" role="button" class="contrast outline">Traité</a>
                        {% else %}
                            <del>Traité</del>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a role="button" href="{{ path('list') }}">Retour</a>
    </div>

{% endblock %}

